<div id="message-<%= message.id %>" class="message-element">
  <small class='av-message'>
    <% if current_user == message.user %>
      <%= image_tag "chatparent.png", width: 20, height: 25, class: "message-avatar" %>
    <% else %>
      <%= image_tag "chatteacher.png", width: 20, height: 25, class: "message-avatar" %>
    <% end %>
    <strong><%= message.user.first_name %></strong>
  </small>
  <p class="pt-1 px-4" ><%= message.content %></p>
  <i><%= message.created_at.strftime("%a  %b  %e  at  %l:%M %p") %></i>
</div>
