<div class="dashboard-grid-container">
  <div class="activity-grid-item">
    <%= link_to activities_path, class: "header-link" do %>
      <div class="card-headers">
        <h3>Daily Activities</h3>
          <% new_activity = @notifications.unread.select { |n| n.params[:type] == "activity" }  %>
          <% if new_activity.any? %>
            <div class="notification-dot">
              <p><%= current_user.notifications.unread.select { |i| i.params[:type] == "activity" }.count.to_s %></p>
            </div>
          <% end %>
      </div>
    <% end %>

    <div class="activity-container">
      <div class="acts-card">
        <div class="acts-img">
          <%= image_tag("healthy-food.png", class: "info-imgs") %>
        </div>

        <div class="acts-info">
          <h5>Food Consumption</h5>
          <div class="food_emoji_wrapper">
            <% a = @kids.first.activities.last.snack_consumption %>
                <% if a == "all" %>
                    <p class="dashboard_emojis_food"><strong>Snack</strong> <%= inline_svg_tag "food_emojis/clap.svg" %></p>
                  <% elsif a == "most" %>
                    <p class="dashboard_emojis_food"><strong>Snack</strong> <%= inline_svg_tag "food_emojis/thumbs-up.svg" %></p>
                <% else %>
                    <p class="dashboard_emojis_food"><strong>Snack</strong> <%= inline_svg_tag "food_emojis/pinching-fingers.svg" %></p>
                <% end %>
            <% a = @kids.first.activities.last.lunch_consumption %>
                <% if a == "all" %>
                    <p class="dashboard_emojis_food"><strong>Lunch</strong> <%= inline_svg_tag "food_emojis/clap.svg" %></p>
                  <% elsif a == "most" %>
                    <p class="dashboard_emojis_food"><strong>Lunch</strong> <%= inline_svg_tag "food_emojis/thumbs-up.svg" %></p>
                <% else %>
                    <p class="dashboard_emojis_food"><strong>Lunch</strong> <%= inline_svg_tag "food_emojis/pinching-fingers.svg" %></p>
                <% end %>
          </div>
        </div>

      </div>

      <div class="acts-card">
        <div class="acts-img">
          <%= image_tag("sleep.png", class: "info-imgs") %>
        </div>
        <div class="acts-info">
          <h5>Nap Time</h5>
          <p><%= pluralize(@kids.first.activities.last.nap_duration, "min")%></p>
        </div>
      </div>

      <div class="acts-card">
        <div class="acts-img">
          <%= image_tag("toilet.png", class: "info-imgs") %>
        </div>
        <div class="acts-info">
          <h5>Bowel Movements</h5>
          <p><%= pluralize(@kids.first.activities.last.bowel_movement, "time") %></p>
        </div>
      </div>

      <div class="acts-card">
        <div class="acts-img">
          <%= image_tag("mood.png", class: "info-imgs") %>
        </div>
        <div class="acts-info">
          <h5>Mood</h5>
           <% a = @kids.first.activities.last.overall_mood %>
              <% if a == "Super happy mostly" %>
                <p class="dashboard_emojis_mood"><%= inline_svg_tag "mood_emojis/star-face.svg" %></p>
                <% elsif a == "Under the weather" %>
                <p class="dashboard_emojis_mood"><%= inline_svg_tag "mood_emojis/weather-face.svg" %></p>
                <% else %>
                <p class="dashboard_emojis_mood"><%= inline_svg_tag "mood_emojis/little-smile-face.svg" %></p>
            <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="photos-grid-item">
    <%= link_to photos_path, class: "header-link" do %>
      <div class="card-headers">
        <h3>Photos</h3>
          <% new_photo = @notifications.unread.select { |n| n.params[:type] == "photo" }  %>
          <% if new_photo.any? %>
          <div class="notification-dot">
            <p><%= current_user.notifications.unread.select { |i| i.params[:type] == "photo" }.count.to_s %></p>
          </div>
            <%= render 'notifications/photo_notifications', user: current_user %>
          <% end %>
      </div>
    <% end %>
    <div class="photos-card">
      <div class="dashboard-grid-imgs" style="background-image: url('<%= cl_image_path @photos[0].photo.key %>')"></div>
      <div class="dashboard-grid-imgs" style="background-image: url('<%= cl_image_path @photos[1].photo.key %>')"></div>
      <div class="dashboard-grid-imgs" style="background-image: url('<%= cl_image_path @photos[2].photo.key %>')"></div>
      <div class="dashboard-grid-imgs" style="background-image: url('<%= cl_image_path @photos[3].photo.key %>')"></div>
    </div>
  </div>

  <div class="messages-grid-item">
    <%= link_to chatrooms_path, class: "header-link" do %>
      <div class="card-headers">
        <h3>Messages</h3>
        <%# turbo_stream_from "notifications" %>
        <%# turbo_frame_tag 'notifications' do %>
          <% new_message = @notifications.unread.select { |i| i.params[:type] == "message" }  %>
          <% if new_message.any? %>
            <div class="notification-dot">
              <p><%= current_user.notifications.unread.select { |i| i.params[:type] == "message" }.count.to_s %></p>
            </div>
          <% end %>
        <%# end %>
      </div>
    <% end %>
    <div class="overflow-box-message">
      <div class="messages-card">
        <% @chatrooom.messages.reverse.each do |message| %>
          <% if message.user_id == current_user.id %>
          <div class="dash-message message-user">
            <div class="message-meta">
              <p class="dash-message-name"><%= "You" %></p>
              <p class="dash-message-date"><%= message.created_at.strftime('%a  %b  %e %l:%M %p').capitalize %></p>
            </div>
            <p><%= message.content %></p>
          </div>
          <% else %>
            <div class="dash-message message-receiver">
              <div class="message-meta">
                <p class="dash-message-name"><%= User.find(message.user_id).first_name %></p>
                <p class="dash-message-date"><%= message.created_at.strftime('%a %d. %I:00%P').capitalize %></p>
              </div>
              <p><%= message.content %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="dash-sidebar">
  <div class="dash-sidebar-header">
    <div class="dash-child-info">
      <h3 id="dash-child-name"><%= @kids.first.first_name %> <%= @kids.first.last_name %></h3>
      <p>Nido | <%= @kids.first.rooms.first.user.first_name %></strong></p>
    </div>
    <div class="avatar-container">
      <div class="dash-child-avatar" style="background-image: url('<%= cl_image_path @kids.first.photo.key %>')">
      </div>
    </div>
  </div>

  <div class="calendar-cards">
    <div class="<%= Date.today.strftime('%a').upcase == 'MON' ? 'date-card-today' : 'date-card' %>">
      <div class="date">
        <p><strong>MON</strong></p>
        <p><%= Date.today.beginning_of_week.strftime('%d') %></p>
      </div>
    </div>

    <div class="<%= Date.today.strftime('%a').upcase == 'TUE' ? 'date-card-today' : 'date-card' %>">
      <div class="date">
        <p><strong>TUE</strong></p>
        <p><%= Date.today.beginning_of_week.next_day.strftime('%d') %></p>
      </div>
    </div>

    <div class="<%= Date.today.strftime('%a').upcase == 'WED' ? 'date-card-today' : 'date-card' %>">
      <div class="date">
        <p><strong>WED</strong></p>
        <p><%= Date.today.beginning_of_week.next_day.next_day.strftime('%d') %></p>
      </div>
    </div>

    <div class="<%= Date.today.strftime('%a').upcase == 'THU' ? 'date-card-today' : 'date-card' %>">
      <div class="date">
        <p><strong>THU</strong></p>
        <p><%= Date.today.beginning_of_week.next_day.next_day.next_day.strftime('%d') %></p>
      </div>
    </div>

    <div class="<%= Date.today.strftime('%a').upcase == 'FRI' ? 'date-card-today' : 'date-card' %>">
      <div class="date">
        <p><strong>FRI</strong></p>
        <p><%= Date.today.beginning_of_week.next_day.next_day.next_day.strftime('%d') %></p>
      </div>
    </div>
  </div>

  <%= link_to meetings_path, class: "header-link" do %>
    <div class="card-headers mt-3">
      <h3>Upcoming Events</h3>
      <% new_message = @notifications.unread.select { |i| i.params[:type] == "meeting" }  %>
      <% if new_message.any? %>
        <div class="notification-dot">
          <p><%= current_user.notifications.unread.select { |i| i.params[:type] == "meeting" }.count.to_s %></p>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="upcoming-meetings">
    <% @meetings.sort_by(&:start_time).each do |meeting| %>
      <div class="meeting-card">
          <p class="event-title"><%= meeting.name %></p>
          <p class="event-date"><%= meeting.start_time.strftime('%b %d').capitalize %></p>
      </div>
    <% end %>
  </div>
</div>
