<div class="dashboard-grid-container">
  <div class="activity-grid-item">
    <h3 class="card-headers">Daily Activities</h3>
    <div class="activity-container">
      <div class="acts-card">
        <div class="acts-img">
          <%= image_tag("healthy-food.png", class: "info-imgs") %>
        </div>
        <div class="acts-info">
          <h5>Food Consumption</h5>
          <div class="food_emoji_wrapper">
            <% a = @kids.first.activities.last.snack_consumption %>
                <% if a == "all" %>
                    <p class="dashboard_emojis_food"><strong>Snack</strong> <%= inline_svg_tag "food_emojis/clap.svg" %></p>
                  <% elsif a == "most" %>
                    <p class="dashboard_emojis_food"><strong>Snack</strong> <%= inline_svg_tag "food_emojis/thumbs-up.svg" %></p>
                <% else %>
                    <p class="dashboard_emojis_food"><strong>Snack</strong> <%= inline_svg_tag "food_emojis/pinching-fingers.svg" %></p>
                <% end %>
            <% a = @kids.first.activities.last.lunch_consumption %>
                <% if a == "all" %>
                    <p class="dashboard_emojis_food"><strong>Lunch</strong> <%= inline_svg_tag "food_emojis/clap.svg" %></p>
                  <% elsif a == "most" %>
                    <p class="dashboard_emojis_food"><strong>Lunch</strong> <%= inline_svg_tag "food_emojis/thumbs-up.svg" %></p>
                <% else %>
                    <p class="dashboard_emojis_food"><strong>Lunch</strong> <%= inline_svg_tag "food_emojis/pinching-fingers.svg" %></p>
                <% end %>
          </div>
        </div>
      </div>

      <div class="acts-card">
        <div class="acts-img">
          <%= image_tag("sleep.png", class: "info-imgs") %>
        </div>
        <div class="acts-info">
          <h5>Nap Time</h5>
          <p><%= pluralize(@kids.first.activities.last.nap_duration, "min")%></p>
        </div>
      </div>

      <div class="acts-card">
        <div class="acts-img">
          <%= image_tag("toilet.png", class: "info-imgs") %>
        </div>
        <div class="acts-info">
          <div class="bowel-number-wrapper">
            <p><%= pluralize(@kids.first.activities.last.bowel_movement, "time") %></p>
        </div>
      </div>

      <div class="acts-card">
        <div class="acts-img">
          <%= image_tag("mood.png", class: "info-imgs") %>
        </div>
        <div class="acts-info">
          <h5>Overall Mood</h5>
            <% a = @kids.first.activities.last.overall_mood %>
              <% if a == "Super happy mostly" %>
                <p class="dashboard_emojis_mood"><%= inline_svg_tag "mood_emojis/star-face.svg" %></p>
                <% elsif a == "Under the weather" %>
                <p class="dashboard_emojis_mood"><%= inline_svg_tag "mood_emojis/weather-face.svg" %></p>
                <% else %>
                <p class="dashboard_emojis_mood"><%= inline_svg_tag "mood_emojis/little-smile-face.svg" %></p>
            <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="photos-grid-item">
    <h3 class="card-headers">Photos</h3>
    <div class="photos-card">
      <div class="dashboard-grid-imgs" style="background-image: url('https://res.cloudinary.com/dnmf6p8tj/image/upload/v1/development/<%= @photos[0].photo.key %>')"></div>
      <div class="dashboard-grid-imgs" style="background-image: url('https://res.cloudinary.com/dnmf6p8tj/image/upload/v1/development/<%= @photos[1].photo.key %>')"></div>
      <div class="dashboard-grid-imgs" style="background-image: url('https://res.cloudinary.com/dnmf6p8tj/image/upload/v1/development/<%= @photos[2].photo.key %>')"></div>
      <div class="dashboard-grid-imgs" style="background-image: url('https://res.cloudinary.com/dnmf6p8tj/image/upload/v1/development/<%= @photos[3].photo.key %>')"></div>
    </div>
  </div>

  <div class="messages-grid-item">
    <h3 class="card-headers">Messages</h3>
    <div class="messages-card">
      <% @chatrooom.messages.each do |message| %>
      <div class="dash-message">
        <div class="message-meta">
          <% if message.user_id == current_user.id %>
            <p><%= "You" %></p>
          <% else %>
            <p><%= User.find(message.user_id).first_name %></p>
          <% end %>
          <p><%= message.created_at.strftime('%a %d').upcase %></p>
        </div>
        <p><%= message.content %></p>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="dash-sidebar">
  <div class="dash-sidebar-header">
    <div class="dash-child-info">
      <h3><%= @kids.first.first_name %> <%= @kids.first.last_name %></h3>
      <p>Nido | <%= @kids.first.rooms.first.user.first_name %></strong></p>
    </div>
    <div class="avatar-container">
      <div class="dash-child-avatar" style="background-image: url('https://res.cloudinary.com/dnmf6p8tj/image/upload/v1/development/<%= @kids.first.photo.key %>')">
      </div>
    </div>
  </div>

  <div class="calendar-cards">
    <div class="<%= Date.today.strftime('%a').upcase == 'MON' ? 'date-card-today' : 'date-card' %>">
      <div class="date">
        <p><strong>MON</strong></p>
        <p><%= Date.today.beginning_of_week.strftime('%d') %></p>
      </div>
    </div>

    <div class="<%= Date.today.strftime('%a').upcase == 'TUE' ? 'date-card-today' : 'date-card' %>">
      <div class="date">
        <p><strong>TUE</strong></p>
        <p><%= Date.today.beginning_of_week.next_day.strftime('%d') %></p>
      </div>
    </div>

    <div class="<%= Date.today.strftime('%a').upcase == 'WED' ? 'date-card-today' : 'date-card' %>">
      <div class="date">
        <p><strong>WED</strong></p>
        <p><%= Date.today.beginning_of_week.next_day.next_day.strftime('%d') %></p>
      </div>
    </div>

    <div class="<%= Date.today.strftime('%a').upcase == 'THU' ? 'date-card-today' : 'date-card' %>">
      <div class="date">
        <p><strong>THU</strong></p>
        <p><%= Date.today.beginning_of_week.next_day.next_day.next_day.strftime('%d') %></p>
      </div>
    </div>

    <div class="<%= Date.today.strftime('%a').upcase == 'FRI' ? 'date-card-today' : 'date-card' %>">
      <div class="date">
        <p><strong>FRI</strong></p>
        <p><%= Date.today.beginning_of_week.next_day.next_day.next_day.strftime('%d') %></p>
      </div>
    </div>
  </div>

  <h3 class="card-headers mt-3">Upcoming Events</h3>
  <div class="upcoming-meetings">
    <% @meetings.each do |meeting| %>
      <div class="meeting-card">
          <p class="event-title"><%= meeting.name %></p>
          <p class="event-date"><%= meeting.start_time.strftime('%b %d').upcase %></p>
      </div>
    <% end %>
  </div>
</div>
