<% @photos.each do |e| %>
<%= cl_image_tag e.photo.key, height: 300, width: 400, crop: :fill %>
  <% if policy(Photo).destroy? %>
    <%= link_to "Delete photo",photo_path(e), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "mt-2 btn btn-outline-secondary" %>
  <% end %>
<% end %>


<% if policy(Photo).new? %>
  <%= simple_form_for(@photo) do |f| %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
<% end %>

<%# <%= link_to "Upload a new photo", new_photo_path, class: "mt-2 btn btn-outline-primary" %>

<%# --------------------------------------------- %>

<div id="navsidebar">
</div>

<div class="images-container">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="..." class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div id="sidebar">
  <div class="child-info">
  </div>
  <div class="image-gallery-sidebar">
    <div class="img-grid">

    </div>
  </div>
</div>
